.hero {
  background: url("../../images/wallpaper-gradient.jpg");
  height: 920px;
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
}

.name {
  font-weight: 700;
}

.heroGroup {
  margin: 0 auto;
  max-width: 500px;
  padding: 150px 50px;
  text-align: center;
}

.hero h1 {
  margin: 0;
  color: #fff;
  font-size: 60px;
  line-height: 1.2;
  opacity: 0;
  animation: heroAnimation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-delay: 0.1s;
  font-weight: 600;
}

.hero p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  line-height: 1.5;
  opacity: 0;
  animation: heroAnimation 3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-delay: 0.2s;
}

.hero a {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.4);
  padding: 9px 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 30px;
}

@media (max-width: 640px) {
  .heroGroup {
    padding: 100px 20px;
  }
  .hero {
    font-size: 40px;
  }
  .hero p {
    font-size: 24px;
  }
}

@keyframes heroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.techStack {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  margin: 100px 0;
  justify-items: center;
}

@media (max-width: 640px) {
  .techStack {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cardGroup {
  margin: 50px 40px 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  justify-items: center;
}

@media (max-width: 1060px) {
  .cardGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .cardGroup {
    grid-template-columns: repeat(1, 1fr);
  }
}
